.card {
    width: 30%;
    margin-top:10px;
    margin-right:15px;
    margin-bottom:15px;
    margin-left:15px;
    display:inline-block;
}

.imgSize {
    margin-top:8%;
    margin-left:5%;
    width: 150%;
}

.buttons {
    width: 33%;
}